{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- Submit Ad -->
	<div class="submit-ad main-grid-border">
		<div class="container">
			<h2 class="head">Post an Ad</h2>
			<div class="post-ad-form">
				<form method="POST" action="{% url 'post_ads' %}">


						<select class="">
						{% for category in category_list %}
						  <option>{{ category.category_name }}</option>
						{% endfor %}
						</select>
					<label>Select Category <span>*</span></label>

					<select class="">
						{% for val,name in condition_form.CONDITION_TYPE %}
						  <option value={{ val }}>{{ name }}</option>
						{% endfor %}
					</select>


					<div class="clearfix"></div>
					<label>Brand Name <span>*</span></label>
					<input type="text" name="brand" class="brand" placeholder="">
					<div class="clearfix"></div>
					<label>Ad Title <span>*</span></label>
					<input type="text" name="name" class="phone" placeholder="">
					<div class="clearfix"></div>
					<label>Ad Description <span>*</span></label>
					<textarea class="mess" name="description" placeholder="Write few lines about your product"></textarea>
					<div class="clearfix"></div>
				<div class="upload-ad-photos">
				<label>Photos for your ad :</label>
					<div class="photos-upload-view">
						<input type="file" id="image" name="image" accept="image/*">

					</div>
					<div class="clearfix"></div>
						<script src="{% static 'js/filedrag.js' %}"></script>
				</div>
					<div class="personal-details">
					<form>
						<label>Price<span>*</span></label>
						<input type="text" name="price" class="name" placeholder="Enter Product Price">
						<div class="clearfix"></div>
						<label>Your Name <span>*</span></label>
						<input type="text" name="owner" class="name" placeholder="" disabled>
						<div class="clearfix"></div>
						<label>Your Mobile No <span>*</span></label>
						<input type="text" class="phone" placeholder="">
						<div class="clearfix"></div>
						<label>Your Email Address<span>*</span></label>
						<input type="text" class="email" placeholder="">
						<div class="clearfix"></div>
						<p class="post-terms">By clicking <strong>post Button</strong> you accept our <a href="terms.html" target="_blank">Terms of Use </a> and <a href="privacy.html" target="_blank">Privacy Policy</a></p>
					<input type="submit" value="Post">
					<div class="clearfix"></div>
					</form>
					</div>
                </form>
			</div>
		</div>
	</div>
	<!-- // Submit Ad -->
{% endblock %}